SECRET_KEY=change-me-to-a-long-random-string
ACCESS_TOKEN_EXPIRE_MINUTES=10080
DATABASE_URL=sqlite+aiosqlite:////data/efandpi.db

# Caddy
# OVH API Credentials
OVH_APPLICATION_KEY=xxx
OVH_APPLICATION_SECRET=yyy
OVH_CONSUMER_KEY=zzz
# Domain
MY_DOMAIN=xxx.zzz
MY_API_DOMAIN=api.xxx.zzz
MY_DB_DOMAIN=db.xxx.zzz
# HTPASSWD Credentials
HTPASSWD_USERNAME=user
HTPASSWD_PASSWORD=hashedpassword

# S3
S3_ENDPOINT_URL=https://...
S3_BUCKET=...
S3_ACCESS_KEY_ID=...
S3_SECRET_ACCESS_KEY=...
S3_REGION=...